<div style="padding: 2em">

    <div class="btn-group">
     <a class="btn btn-large btn-default" ng-click="detailOn = true">Afficher details</a>
     <a class="btn btn-large btn-default" ng-click="detailOn = false">Cacher</a>
    </div>

    <div>
        <ul class="pagination"  style="margin-bottom: 0">
            <li ng-repeat="month in months" ng-class="{'active': month == currMonth}">
                <a href="#/budget/synthese/{{month}}/{{currYear}}"> {{month}}</a>
            </li>
        </ul>


        <ul class="pagination pull-right" style="margin-bottom: 0">
            <li ng-repeat="year in years" ng-class="{'active': year == currYear}">
                <a href="#/budget/synthese/{{currMonth}}/{{year}}"> {{year}}</a>
            </li>
        </ul>
    </div>

<div class="row">
<div class="col-sm-6">


     <h1>Credit</h1>
    
    
      <table class="table table-bordered table-striped table-condensed">
        <tr>
          <th>Nom</th>
          <th>Prevision</th>
          <th>Consommé</th>
          <th>%</th>
        </tr>
        <tr ng-repeat-start ="(name, budget) in budgetsComputed.tags" ng-if="budget.prevision && budget.credit" class="text-success">
          <td>
            <span class="badge badge-default" ng-style="{'background-color' : getColorForTag(name)}"> {{name}}
            </span>
            </td>
          <td style="text-align:right">
            <span ng-if="budget.prevision">{{budget.prevision | number: 2}}EUR</span>
          </td>
          <td style="text-align:right">{{budget.consumed | number: 2}}EUR</td>
          <td class="col-sm-3">

              <div class="progress" ng-if="budget.prevision">
                      <div class="progress-bar" ng-class="getClassFor(budget)" role="progressbar" style="width: {{getPercentFor(budget)}}%;">
                      {{getPercentFor(budget) | number: 0 }}% 
                </div>
                </div>


          </td>
        </tr>
        <!-- detail -->
        <tr ng-repeat-end ng-if="budget.prevision && detailOn && budget.credit" style="border-bottom: 3px solid #888">
          <td colspan="4">

            <table class="table">
                <tr ng-repeat="balance in balances.payload | filter:name" >
                  <td  class="col-xs-2">{{balance.date | date : 'dd/MM/yyyy'}}</td>
                 
                  <td>
                  <div>
                    <div ng-repeat="tag in balance.tags track by $index"><span class="badge badge-default" ng-style="{'background-color' : getColorForTag(tag)}" >{{tag}}</span></div>
                  </div>
                </td>
                 <td>
                    {{balance.description}}
                  </td>
                  <td  class="col-xs-2 "><div class="pull-right">{{balance.amount | number:2}} EUR</div></td>
                  <td class="col-xs-2">
                    <div class="pull-right btn-group">
                    <a class="btn btn-xs btn-default" href="#/entry/edit/{{balance._id}}">edit</a>
                    <a class="btn btn-xs btn-default btn-danger" ng-click="remove(balance._id)">Delete</a>
                    </div>
                  </td>
                </tr>
              </table>
        
          </td>
        </tr>

        <!-- total -->
        <tr>
           <td></td>
            <td class="text-success" style="text-align: right"><h3>{{budgetsComputed.incomePrevision |number:2}}EUR</h3></td>
            <td class="text-success" style="text-align: right"><h3>{{budgetsComputed.income |number:2}}EUR</h3></td>
            <td></td>
        </tr>

      </table>
       
    

  </div>



  <div class="col-sm-6">


     <h1>Debit</h1>
    
    
      <table class="table table-bordered table-striped table-condensed">
        <tr>
          <th>Nom</th>
          <th>Prevision</th>
          <th>Consommé</th>
          <th>%</th>
        </tr>
        <tr ng-repeat-start ="(name, budget) in budgetsComputed.tags" ng-if="budget.prevision && !budget.credit" class="text-danger">
          <td>
            <span class="badge badge-default" ng-style="{'background-color' : getColorForTag(name)}"> {{name}}
            </span>
            </td>
          <td style="text-align:right">
            <span ng-if="budget.prevision">{{budget.prevision | number: 2}}EUR</span>
          </td>
          <td style="text-align:right">{{budget.consumed | number: 2}}EUR</td>
          <td class="col-sm-3">

              <div class="progress" ng-if="budget.prevision">
                      <div class="progress-bar" ng-class="getClassFor(budget)" role="progressbar" style="width: {{getPercentFor(budget)}}%;">
                      {{getPercentFor(budget) | number: 0 }}% 
                </div>
                </div>


          </td>
        </tr>
        <!-- detail -->
        <tr ng-repeat-end ng-if="budget.prevision && detailOn && !budget.credit" style="border-bottom: 3px solid #888">
          <td colspan="4">

            <table class="table">
                <tr ng-repeat="balance in balances.payload | filter:name">
                  <td  class="col-xs-2">{{balance.date | date : 'dd/MM/yyyy'}}</td>
                 
                  <td>
                  <div>
                    <div ng-repeat="tag in balance.tags track by $index"><span class="badge badge-default" ng-style="{'background-color' : getColorForTag(tag)}" >{{tag}}</span></div>
                  </div>
                </td>
                 <td>
                    {{balance.description}}
                  </td>
                  <td  class="col-xs-2"><div class="pull-right">{{balance.amount | number:2}} EUR</div></td>
                  <td class="col-xs-2">
                    <div class="pull-right btn-group">
                    <a class="btn btn-xs btn-default" href="#/entry/edit/{{balance._id}}">edit</a>
                    <a class="btn btn-xs btn-default btn-danger" ng-click="remove(balance._id)">Delete</a>
                    </div>
                  </td>
                </tr>
              </table>
        
          </td>
        </tr>

          <tr>
              <td></td>
              <td class="text-danger" style="text-align: right"><h3>{{budgetsComputed.outcomePrevision |number:2}}EUR</h3></td>
              <td class="text-danger" style="text-align: right"><h3>{{budgetsComputed.outcome |number:2}}EUR</h3></td>
              <td></td>
          </tr>


      </table>

       
    

  </div>

    <div class="col-sm-3">

        <table class="table table-condensed">
            <tr>
                <td>Différence</td>
                <td style="text-align: right"><h3>{{budgetsComputed.balance |number:2}}EUR</h3></td>
            </tr>
            <tr>
                <td>Différence prévisionnel</td>
                <td style="text-align: right"><h3>{{budgetsComputed.balancePrevision |number:2}}EUR</h3></td>
            </tr>
        </table>
    </div>
</div>




<div class="btn-group">
          <a class="btn btn-default" href="#/budget/edit/{{currMonth}}/{{currYear}}">Editer le budget</a>
          <a class="btn btn-default" href="#/budget/view/{{currMonth}}/{{currYear}}">Zoom</a>
        </div> 