<div style="padding: 2em" class="container">

  
  <div class="col-sm-12">

  

  <!-- balances -->
  <div class="alert alert-info" ng-if="data.payload.length ==0 && !isLoading">
      Aucune personne :(. Zut alors !
  </div>

     <div class=" center-block">
      <div>
          <div class="input-group">
              <input type="text" class="form-control" ng-model="searchPattern">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Search</button>
                  </span>
          </div>
      </div>
     </div>
      <div class="col-sm-12">
      <hr/>
      </div>

  <div class="alert alert-info" ng-if="isLoading">
          Chargement
  </div>

  <table class="table table-bordered table-striped table-hover">
    <tr>
        <th>
             N°Client
        </th>
        <th>
            Prénom
        </th>
        <th>Date de naissance</th>
        <th>Pays</th>
        <th>Actions</th>
    </tr>
  	<tr ng-repeat="person in data.payload | orderBy: 'lastName' |  filter : searchPattern">

  		<td>
            <span style="font-family: monospace">{{person.content.cli_number}}</span>

  		</td>
        <td>
            {{person.firstName}}
            {{person.lastName}}
        </td>

        <td>
            {{person.birthday | date: 'dd/MM/yyyy'}} <span class="text-muted">(<b>{{ moment().diff(moment(person.birthday),'years')}}</b>)</span>
        </td>
        <td>
            LU
        </td>
        <td>
            <div class="btn btn-group pull-right">
                <a class="btn btn-primary btn-xs" href="#person/edit/{{person._id}}">
                    <span class="fa fa-search"></span>
                </a>
                <!--<a class="btn btn-danger btn-xs" ng-click="removePerson(person._id)">Supprimer</a>-->
            </div>
        </td>
  	</tr>

  </table>

  
</div>
    </div>
