<div>

   <!--<div ng-repeat="(key, budget) in computedBudgets" class="col-xs-2">
    <h1>{{key}}</h1>
    <table class="table">
        <tr ng-repeat="(tagName, tagContent) in budget.tags">
            <td>{{tagName}}</td>
            <td>{{tagContent.consumed}}</td>
        </tr>

    </table>

</div>-->
 <!--        <div class="col-xs-6">
                <div class="input-group " >
                    <input type="text" class="form-control" ng-model="initialValue">
                     <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="refreshOverall()">Refresh</button>
                  </span>
                </div><!-- /input-group -->
<!-- </div> -->
    <div>
        <md-switch ng-model="details" aria-label="Switch 1">
            Afficher/cacher les détails
        </md-switch>
    </div>


    <hr/>

    <table class="table table-bordered table-condensed table-striped" id="overview">
        <tr>
            <th class="col-xs-1">Tag</th>
            <th class="col-xs-1" ng-class="{'active': getSelectedMonth() == key}" ng-click="setSelectedMonth(key)" ng-repeat="(key, budget) in computedBudgets">{{key}}

                <a class="btn btn-xs pull-right" ng-href="{{getBudgetLinkForKey(key)}}"><span class="fa fa-edit"></span></a>
            </th>
        </tr>
        <!-- for fixed headers -->
<!--     </table>
    <md-content flex layout-fill >
    <table class="table table-bordered table-condensed table-striped">
 -->        <!-- normal tag -->
        <tr ng-repeat="tag in normalTag" >
            <td class="col-xs-1">{{tag}}</td>
            <td class="col-xs-1" ng-repeat="(key, budget) in computedBudgets" style="text-align: right"  ng-click="setSelectedMonth(key)">

                 <span ng-show="budget.tags[tag].displayVal != undefined">
                    <span ng-class="{'text-success': budget.tags[tag].credit, 'text-danger': !budget.tags[tag].credit} ">{{budget.tags[tag].displayVal | number:2}}€</span>
                    <!--<span>{{budget.tags[tag]}}</span>-->
                    <span ng-show="details" class="text-muted small"><br/>
                        {{budget.tags[tag].displayNote}}
                    </span>
                </span>
            </td>
        </tr>


        <!--extra tag -->
        <tr>
        <td colspan="10">
               <p>Autre</p>
        </td>
        </tr>
        <tr ng-repeat="tag in extraTag">
            <td class="col-xs-1">{{tag}}</td>
            <td class="col-xs-1" ng-repeat="(key, budget) in computedBudgets" style="text-align: right" ng-click="setSelectedMonth(key)">


                <span ng-show="budget.tags[tag].displayVal != undefined">

                    <span class="pull-left">
                        <a class='btn btn-xs' ng-click="toggleSpecialFor(budget.tags[tag])"><span  class="fa " ng-class="{'fa-circle-thin': !budget.tags[tag].special, 'fa-exclamation-circle': budget.tags[tag].special}"></span></a>
                    </span>

                    <span ng-class="{'text-success': budget.tags[tag].credit, 'text-danger': !budget.tags[tag].credit} ">{{budget.tags[tag].displayVal | number:2}}€</span>
                    <!--<span>{{budget.tags[tag]}}</span>-->
                    <span ng-if="details" class="text-muted small"><br/>{{budget.tags[tag].displayNote}}</span>
                </span>
            </td>
        </tr>

        <tr style="border-top: 0.2em solid #999">
            <td class="col-xs-1">Solde intermédiaire du mois</td>
            <td class="col-xs-1" ng-repeat="(key, budget) in computedBudgets" style="text-align: right" ng-class="{'active': getSelectedMonth() == key}" >
                <span class="text-success" ng-show="details">{{budget.displayIncome | number:2}}€</span><br ng-show="details"/>
                <span class="text-danger" ng-show="details">{{budget.displayOutcome| number:2}}€</span><br ng-show="details"/>
                {{budget.displayBalance | number:2}}€
            </td>
        </tr>

        <tr>
            <td class="col-xs-1">Solde global</td>
            <td class="col-xs-1" ng-repeat="(key, budget) in computedBudgets" style="text-align: right" >
                <span>{{budget.total | number:2}}€</span><br/>

            </td>
        </tr>
    </table>
    </md-content>
</div>
</div>
