<div>

    {{allTags}}
<!--<div ng-repeat="(key, budget) in computedBudgets" class="col-xs-2">
    <h1>{{key}}</h1>
    <table class="table">
        <tr ng-repeat="(tagName, tagContent) in budget.tags">
            <td>{{tagName}}</td>
            <td>{{tagContent.consumed}}</td>
        </tr>

    </table>

</div>-->
    <table class="table table-bordered">
        <tr>
            <th>Tag</th>
            <th ng-repeat="(key, budget) in computedBudgets">{{key}}</th>
        </tr>
        <tr ng-repeat="tag in allTags">
            <td>{{tag}}</td>
            <td ng-repeat="(key, budget) in computedBudgets" style="text-align: right">
                <span ng-class="{'text-success': budget.tags[tag].credit, 'text-danger': !budget.tags[tag].credit} ">{{budget.tags[tag].consumed | number:2}}€</span>
            </td>
        </tr>
        <tr>
            <td>Solde</td>
            <td ng-repeat="(key, budget) in computedBudgets" style="text-align: right">
                {{budget.income | number:2}}€<br/>
                {{budget.outcome| number:2}}€
            </td>
        </tr>
    </table>
</div>
</div>
