<div class="container">


    <div class="row">

        <div class="col-xs-6">
            <div class="panel panel-success">
            <div class="panel-heading">
                Signalétique
            </div>
                <div class="panel-body">
                <b>
                    {{person.firstName}} {{person.lastName}}
                </b>
                <p>
                    <span class="fa fa-map-marker"></span> Adresse:<br/>{{person.content.address}}<br/>
                    {{person.content.city}}<br/>
                    Luxembourg
                </p>
                <p>
                    <span class="fa fa-qrcode"></span> <span style="font-family: monospace">{{person.content.cli_number}}</span>
                </p>
                    <p>
                        <span class="label label-primary"><span class="fa fa-bell"></span> 2 reminders</span>
                        <span class="label label-danger"><span class="fa fa-empire"></span> 1 alerte</span>
                        <span class="label label-warning"> <span class="fa fa-clock-o"></span> 1 en cours</span>
                    </p>
                </div>

            </div>
        </div>

        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Relations
                </div>
                <div class="panel-body">
                    <div ng-repeat="titulaire in person.content.titulaires">
                    <div class="pull-right">
                        Rating: <span class="fa fa-star"></span>
                    </div>
                    <b>
                        {{titulaire.firstName}} {{titulaire.lastName}}
                    </b>
                        <br/>
                    <span ng-if="titulaire.relation" class="text-muted">
                        {{titulaire.relation}}
                    </span>
                    <p>
                        {{titulaire.birthday | date: 'dd/MM/yyyy'}}
                    </p>
                      <hr ng-show="!$last"/>
                    </div>
                </div>

            </div>
        </div>



    </div>


    <div>

        <ul class="nav nav-tabs">
            <li ng-class="{'active': tab=='banc'}">
                    <a ng-click="tab = 'banc'" >
                           Produits bancaires  <span class="badge badge-default">{{person.content.products.length}}</span>
                    </a>
            </li>
            <li ng-class="{'active': tab=='contracts'}">
                <a ng-click="tab = 'contracts'">
                    Cartes <span class="badge badge-default">2</span>
                </a>
            </li>
            <li ng-class="{'active': tab=='visit_report'}">
                <a ng-click="tab = 'visit_report'">
                    Rapport de visite <span class="badge badge-default">{{person.content.visites.length}}</span>
                </a>
            </li>

        </ul>

        <!-- produits bancaire -->
        <table class="table table-stripped table-bordered table-striped" ng-show="tab == 'banc'">
            <tr>
                <th>Produit</th>
                <th>N° Produit</th>
                <th>Solde Actuel</th>
                <th>Credit ouvert</th>
                <th>Blocage</th>
            </tr>
            <tr ng-repeat="product in person.content.products | orderBy: 'name' ">
                <td>{{product.name}}</td>
                <td>{{product.number}}</td>
                <td><span class="pull-right">{{product.solde | number: 2}}€</span></td>
                <td><span class="pull-right">{{0 | number: 2}}€</span></td>
                <td><span class="fa fa-times"></span></td>
            </tr>
        </table>

        <!-- rapport de visite -->
        <div ng-if="tab == 'visit_report'" >


            <div class="row">
            <div class="visit infuture clearfix"  >
                    <div class="icon" ng-style="{'background-color': 'green'}">
                        <a class="fa fa-plus" ng-click="mode='add'" style="color: white"></a>
                    </div>
                    <div class="add-content" ng-show="mode !='add'">
                        <div class="block" style="margin-top: 0.9em">
                            <h4  class="media-heading">Ajouter</h4>
                         </div>
                    </div>


                    <div class="add-content" ng-show="mode=='add'">
                    <div class="block clearfix" >

                            <form class="form-horizontal" role="form" style="position: relative">




                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Description</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control"  rows="6" ng-model="description"></textarea>
                                    </div>
                                </div>





                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Canal</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div class="btn-group btn-group-justified">
                                                <a class="btn btn-default"><span class="fa fa-phone"></span> Téléphone</a>
                                                <a class="btn btn-primary"><span class="fa fa-envelope"></span> Mail</a>
                                                <a class="btn btn-default"><span class="fa fa-user"></span> RDV</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Status</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div class="btn-group btn-group-justified">
                                                <a class="btn btn-primary"><span class="fa fa-circle-o"></span> Ouvert </a>
                                                <a class="btn btn-default"><span class="fa fa-ellipsis-h "></span> En cours</a>
                                                <a class="btn btn-default"><span class="fa fa-check"></span> Résolu</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Date</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                            <input type="text" class="form-control" placeholder="JJ/MM/AAAA HH:MM"/>
                                        </div>
                                        <div class="btn-group btn-group-xs pull-right">
                                            <a class="btn btn-default">Aujourd'hui</a>
                                            <a class="btn btn-default">Demain</a>
                                            <a class="btn btn-default">Dans 1 semaine</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="btn-group pull-right">
                                    <a class="btn btn-default"  ng-click="mode='note'">Annuler</a>
                                    <a class="btn btn-primary" ng-click="addVisit(description)">Ajouter</a>
                                </div>
                            </form>


                    </div>
                    </div>




            </div>
            <div class="visit visit-{{visit.type.name}}" ng-repeat="visit in person.content.visites |orderBy :'date' : true"
                       ng-class="{'infuture': isFutureVisit(visit)}">


                <div class="icon" ng-style="{'background-color': visit.type.color}">
                    <span class="fa fa-lg fa-{{visit.type.name}}"></span>
                </div>

                <div class="date">
                    <span class="text-info">{{visit.date | date: 'dd/MM/yyyy'}}<br/>
                    <span class="small">{{moment(visit.date).fromNow()}}</span>
                    </span>


                </div>
                <div class="content">
                    <div class="block overable">
                        <div class="pull-right label" ng-class="{'label-warning': visit.status == 'en cours', 'label-primary': visit.status !='en cours'}">{{visit.status}}</div>
                        <h4 class="">{{visit.title}}</h4>
                        <span class="">{{visit.content}}</span>
                        <br/>
                        <div class="clearfix">
                        </div>
                        <div class="btn-group pull-right auto-hide">
                            <div class="btn btn-default">
                                    <span class="fa fa-pencil"></span>
                            </div>
                            <div class="btn btn-danger ">
                                <span class="fa fa-trash-o"></span>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

    </div>

    <!--<form ng-submit="save(person)">

        <div>
            <button type="submit" class="btn btn-large btn-primary">Sauvegarder</button>
        </div>

    </form>-->
</div>